.container {
  max-width: 1440px;
  margin: 0 auto;
}

.header__inner {
  column-gap: 2rem;
}

.header__search {
  max-width: 640px;
  width: 100%;
}

.search__input {
  width: 100%;
}
.product-card {
  position: relative;
}

.product-card__list {
  position: absolute;
  top: 10%;
  right: 40px;
  display: flex;
  flex-direction: column;
  row-gap: 1px;
  background-color: gray;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.product-card__header:hover .product-card__list {
  opacity: 1;
  visibility: visible;
}

.product-card__item {
  background-color: #222222;
  cursor: pointer;
}

.hero__inner .col.left,
.hero__inner .col.right {
  width: 24%;
}

.hero__inner .col.center {
  width: 50%;
}

.product-popup-close {
  background-color: #222222;
}

.product-popup__action {
  background-color: #222;
}

.text-preview {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Number of lines to display */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.price-sale-color {
  color: #ff8a5c;
}

@media (max-width: 768px) {
  .header__inner {
    flex-wrap: wrap;
    position: relative;
  }
  .header__inner .search {
    order: 1;
  }

  .header__search--mobile {
    background-color: #fff;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 30px 20px 100px 20px;
  }
  .header__search-close {
    position: absolute;
    top: 0;
    right: 20px;
  }
}

@media (max-width: 568px) {
  .hero__inner {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
  }
  .hero__inner .col.left,
  .hero__inner .col.right,
  .hero__inner .col.center {
    width: 90%;
  }

 

  /* .hero__inner .col.center{
  width: 50%;
} */
}
